html, body {
  height: 100%;
  background-color: #000000;
}

body, h1, h2, h3, p, li, a {
    font-family: 'Inter', sans-serif;
    color: #F8FCF8;
}

.name {
  text-align: center;
  font-weight: 800;
  font-size: 2em;
  margin-top: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-link {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-image: #000000;
    box-shadow: rgba(255, 255, 255, 0.205) 0px 3px 6px, rgba(243, 243, 243, 0.055) 0px 3px 6px;
    transition-duration: 0.4s;
}

.social-link:hover {
    background-image: #000000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.social-link img {
    filter: brightness(0) invert(1);
    width: 24px;
    height: auto;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #000000;
    color: #F8FCF8;
    margin: 1rem 0;
    border-radius: 0.8rem;
    box-shadow: rgba(255, 255, 255, 0.205) 0px 3px 6px, rgba(243, 243, 243, 0.055) 0px 3px 6px;
}
  
.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
  
.accordion-item-header.active::after {
    content: "\2212";
}
  
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, f7a65a, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}